.product-container{
    display:inline-flex ;
}
.product-card{
    width: 220px;
    height: 320px;
    margin: 10px 10px;
    background-color: #f8f9f9;
}
.product-name{
    text-align: center;
}
.product-price{
    text-align: center;
    padding: 10px 10px;
}
.product-buttons {
    display:flex;
    text-align: center;
    margin: 10px 10px;
}
.btn{
    width: 140px;
}